@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.navbar {
  background-color: rgb(255, 232, 232);
  box-shadow: 0px 1px 5px #be6b6b;
}

.nav-link {
  color: rgba(43, 43, 43, 0.7);
}
.nav-link:hover {
  color: rgb(26, 26, 26);
}

/* navbar show data onclick button in phone mode */
.nav-icon {
  padding-top: 10px;
  padding-bottom: 15px;
  height: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.navbar-nav .nav-link {
  padding: 10px 20px;
}

#navbarToggler {
  background-color: rgb(255, 248, 248);
}

#tog-1,
#tog-2 {
  height: 1px;
  width: 18px;
  background: black;
  transition: 0.5s;
}
#tog-1 {
  margin-bottom: 6px;
}
.show1 {
  transform: rotate(45deg) translateY(5.5px);
}
.show2 {
  transform: rotate(-45deg) translateY(-5.5px);
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
/* ------------------------------------------------------ */

.d-less-lg {
  display: none;
}

h3 {
  font-weight: bolder;
}

.mt-6 {
  margin-top: 6rem !important;
}

.container {
  max-width: 1140px;
}

.box {
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #555;
  background-color: #ddd;
  margin: auto;
  transition: 0.5s;
}

.box:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(59, 159, 252);
}

@media (max-width: 991px) {
  .d-more-lg {
    display: none;
  }
  .d-less-lg {
    display: contents;
  }
}
